{% extends 'pages/base.html' %}

{% block style %}
<style>
    .container {
        margin-top: 50px;
        text-align: start;
    }    
</style>
{% endblock %}

{% block content %}
{% include 'pages/navbar.html' %}
<div class="container">
    <div class="row s12">
        <div class="col s12">
            <ul>
                <li>Ensure secure authentication and role-based authorization</li>
                <li>Implement measures like browser lockdown and answer randomization</li>
                <li>Set a time limit for exam completion to maintain fairness</li>
                <li>Randomize question and answer order to deter cheating</li>
                <li>Allow students to review and receive feedback on their answers</li>
                <li>Automate grading processes for efficiency</li>
                <li>Prevent access to external resources during exams</li>
                <li>Protect student data and ensure compliance with privacy regulations</li>
            </ul>            
        </div>
    </div>
</div>
<style>
    .container {
        margin-top: 50px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    li{
        padding: 10px;
        font-size:20px;
    }
</style>
{% endblock %}
