{% extends 'pages/base.html' %}


{% block content %}
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo black-text">&nbsp;&nbsp;TechTestArena</a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {% if user.is_authenticated %}
        <li><a href="{% url 'quiz:quiz_list' %}">Java</a></li>
        <li><a href="{% url 'quiz:quiz_list1' %}">python</a></li>
        <li><a href="{% url 'quiz:quiz_list2' %}">Aptitude</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
        {% else %}
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    {% if user.is_authenticated %}
    <li><a href="{% url 'quiz:quiz_list' %}">Java</a></li>
    <li><a href="{% url 'quiz:quiz_list1' %}">python</a></li>
    <li><a href="{% url 'quiz:quiz_list2' %}">Aptitude</a></li>
    <li><a href="/accounts/logout">Logout</a></li>
    {% else %}
        <li><a href="/accounts/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
    {% endif %}
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });    
</script>
<style>
    nav {
        background-color: #007bff; /* Change the background color to your desired color */
    }

    nav ul.right li a {
        font-size: 20px !important;
    }
    
    nav ul.right li a:hover {
        text-decoration: none;
        opacity: 0;
        background: none !important;
    }
</style>
{% endblock %}
